<div class="mx-12">
  <button routerLink="/paths/create/path-info" class="ml-auto block bg-slate-200/50 hover:bg-white hover:text-primary-900 transition duration-500 px-4 py-2 rounded-xl border font-lato font-bold text-gray-800 m-1"
    [ngClass]="{'hidden': !isAdmin}"
  >Create new path</button>
</div>
<div class="flex flex-col  space-y-4 justify-center pt-5 mx-12">
  <!-- Bouton Beginner -->
  <div class="bg-primary-700/50  border border-primary-900 hover:bg-primary-700 text-xl font-bold py-2 px-4 rounded-lg focus:outline-none focus:shadow-outline">
    <h3 class="text-center my-2 text-gray-900">Beginner</h3>
    <div class="flex items-center text-sm justify-center gap-12 text-gray-800">
      <p>
        <i class="fa-solid fa-book-open backdrop-blur-md isolate bg-white/40 text-center p-2 rounded-xl aspect-video"></i> Course: 12
      </p>
      <p>
        <i class="fa-solid fa-list-check backdrop-blur-md isolate bg-white/40 text-center p-2 rounded-xl aspect-video"></i> Sections: 36
      </p>
      <p>
        <i class="fa-solid fa-people-group backdrop-blur-md isolate bg-white/40 text-center p-2 rounded-xl aspect-video"></i> Groups: 3
      </p>
    </div>
    
  </div>

  <!-- Bouton Intermediate -->
  <div class="bg-primary-700/50 border border-primary-900 hover:bg-primary-700 text-xl font-bold py-2 px-4 rounded-lg focus:outline-none focus:shadow-outline">
    <h3 class="text-center my-2 text-gray-900">Intermediate</h3>
    <div class="flex items-center text-sm justify-center gap-12 text-gray-800">
      <p>
        <i class="fa-solid fa-book-open backdrop-blur-md isolate bg-white/40 text-center p-2 rounded-xl aspect-video"></i> Course: 12
      </p>
      <p>
        <i class="fa-solid fa-list-check backdrop-blur-md isolate bg-white/40 text-center p-2 rounded-xl aspect-video"></i> Sections: 36
      </p>
      <p>
        <i class="fa-solid fa-people-group backdrop-blur-md isolate bg-white/40 text-center p-2 rounded-xl aspect-video"></i> Groups: 3
      </p>
    </div>
    
  </div>

  <!-- Bouton Advanced -->
  <div class="bg-primary-700/50  border border-primary-900 hover:bg-primary-700 text-xl font-bold py-2 px-4 rounded-lg focus:outline-none focus:shadow-outline">
    <h3 class="text-center my-2 text-gray-900">Advanced</h3>
    <div class="flex items-center text-sm justify-center gap-12 text-gray-800">
      <p>
        <i class="fa-solid fa-book-open backdrop-blur-md isolate bg-white/40 text-center p-2 rounded-xl aspect-video"></i> Course: 12
      </p>
      <p>
        <i class="fa-solid fa-list-check backdrop-blur-md isolate bg-white/40 text-center p-2 rounded-xl aspect-video"></i> Sections: 36
      </p>
      <p>
        <i class="fa-solid fa-people-group backdrop-blur-md isolate bg-white/40 text-center p-2 rounded-xl aspect-video"></i> Groups: 3
      </p>
    </div>
    
  </div>
</div>



