<div class="w-full py-4">
  <h3 class="text-sm text-end font-bold">
    <i class="fa-solid fa-users-line text-primary-900"></i>
    Group 1
  </h3>
  <h1 class="text-center font-bold">Prof: Youness Zouani</h1>
  <div class="flex space-x-6 items-center justify-center mt-4">
    <p class="text-[0.700rem]">
      <i class="fa-solid fa-route backdrop-blur-md isolate bg-gray-400/40 text-center p-2 rounded-xl aspect-video"></i>
      Path: Beginner
    </p>
    <p class="text-[0.700rem]">
      <i
        class="fa-solid fa-people-group backdrop-blur-md isolate bg-gray-400/40 text-center p-2 rounded-xl aspect-video"></i>
      Students: 7
    </p>
    <p class="text-[0.700rem]">
      <i class="fas fa-chair backdrop-blur-md isolate bg-gray-400/40 text-center p-2 rounded-xl aspect-video"></i>
      Available Places: 2
    </p>
  </div>
</div>