<div class="flex flex-col items-center mt-[5%]">
  <h1 class="mb-12 text-4xl font-bold text-primary-900">Student Registration</h1>

  <div class="w-[40em] input-container">
    <label class="block mb-2 text-sm font-medium text-gray-900 text-start">Path</label>
    <div class="relative mb-6">
      <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
        <i class="fa-solid fa-route text-accent-300"></i>
      </div>
      <select
        class="bg-accent-100 border-2 border-accent-300 text-gray-900 text-sm rounded-lg block w-full ps-10 p-2.5">
        <option value="" disabled selected>Select a path</option>
        <option value="path1">Path 1</option>
        <option value="path2">Path 2</option>
        <option value="path3">Path 3</option>
      </select>
    </div>
  </div>

  <div class="w-[40em]">
    <label class="block mb-2 text-sm font-medium text-gray-900 text-start">Group</label>
    <div class="relative mb-6">
      <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
        <i class="fa-solid fa-user text-accent-300"></i>
      </div>
      <select
        class="bg-accent-100 border-2 border-accent-300 text-gray-900 text-sm rounded-lg block w-full ps-10 p-2.5">
        <option value="" disabled selected>Select a Group</option>
        <option value="Group1">Group 1</option>
        <option value="Group2">Group 2</option>
        <option value="Group3">Group 3</option>
      </select>
    </div>
  </div>

  <div class="w-[40em]">
    <label class="block mb-2 text-sm font-medium text-gray-900 text-start">Prof</label>
    <div class="relative mb-6">
      <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
        <i class="fa-solid fa-chalkboard-teacher text-accent-300"></i>
      </div>
      <select
        class="bg-accent-100 border-2 border-accent-300 text-gray-900 text-sm rounded-lg block w-full ps-10 p-2.5">
        <option value="" disabled selected>Select a Prof</option>
        <option value="Prof1">Prof 1</option>
        <option value="Prof2">Prof 2</option>
        <option value="Prof3">Prof 3</option>
      </select>
    </div>
  </div>
<img class="w-[40em]" src="assets/register.svg" alt="img">
</div>

