<div class="my-2 mx-2 p-2 rounded-xl bg-gray-300/20 space-y-4">
  <div class="flex justify-between mt-2">
    <h2 class="text-xl font-bold font-lato"><span class="text-primary-900">Course: </span>The Second Course</h2>


  </div>
  <h3 class="text-lg font-semibold font-lato"><span class="text-primary-900">Section: </span>section number 2</h3>
</div>
<!-- carousel.component.html -->
<div href="#" id="indicators-carousel" class="relative w-full px-4 mt-4" data-carousel="static">
  <!-- <h2>waf</h2> -->
  <!-- Carousel wrapper -->
  <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
    <!-- Item 1 -->
    <div class="hidden duration-700 ease-in-out" data-carousel-item="active">
      <img src="assets/img_1.png" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
           alt="...">
    </div>
    <!-- Item 2 -->
    <div class="hidden duration-700 ease-in-out" data-carousel-item>
      <img src="assets/img_1.png" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"

           alt="...">
    </div>
    <!-- Item 3 -->
    <div class="hidden duration-700 ease-in-out" data-carousel-item>
      <img src="assets/img_1.png" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"

           alt="...">
    </div>
    <!-- Item 4 -->
    <div class="hidden duration-700 ease-in-out" data-carousel-item>
      <img src="assets/img_1.png" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"

           alt="...">
    </div>
    <!-- Item 5 -->
    <div class="hidden duration-700 ease-in-out" data-carousel-item>
      <img src="assets/img_1.png" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"

           alt="...">
    </div>
  </div>

  <div class="flex mt-4 justify-between">

    <div class="flex justify-start">

      <!-- Button Back -->
      <button type="button"
              class="flex items-center justify-center gap-2 px-4 py-2 bg-gray-600/50 rounded-xl cursor-pointer group focus:outline-none"
              data-carousel-prev>
        <svg class="w-4 h-4 text-white hover:text-primary-900 rtl:rotate-180" aria-hidden="true"
             xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
        </svg>
        <span class="">Previous</span>
      </button>

      <!-- Button Next -->
      <button type="button"
              class="flex items-center justify-center gap-2 px-4 py-2 md:ml-2 bg-gray-600/50 rounded-xl cursor-pointer group focus:outline-none"
              data-carousel-next>
        <span class="">Next</span>

        <svg class="w-4 h-4 text-white hover:text-primary-900 rtl:rotate-180" aria-hidden="true"
             xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
        </svg>
      </button>

    </div>

    <!-- Button markasdone -->
    <button type="button"
            class="flex items-center justify-center gap-2 px-4 py-2  bg-[#16a34a] hover:bg-[#16a34a]/90 rounded-xl cursor-pointer group focus:outline-none">
      <span class="text-white">Mark As Done</span>
      <svg class="w-[17px] h-[17px] fill-white" viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg">
        <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
        <path
          d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"></path>
      </svg>
    </button>

  </div>
</div>
