<div class="mt-6 w-[40em]">
  <div class="bg-secondary-200 p-6 rounded-2xl shadow-md mb-6 border-2 border-primary">
    <div class="flex items-center justify-between mb-4">
      <h2 class="text-xl font-semibold ml-auto" >Younes Zouani</h2>
    </div>
    <div class="flex flex-col">
      <div class="mb-4">
        <span class="text-gray-600">Groups :</span>
        <span class="ml-2 font-semibold">3 groups</span>
      </div>
      <div class="mb-4">
        <span class="text-gray-600">Available days :</span>
        <span class="ml-2 font-semibold">Monday,Tuesday,Friday</span>
      </div>
      <div class="mb-4">
        <span class="text-gray-600">Paths :</span>
        <span class="ml-2 font-semibold">Beginner,Intermediate</span>
      </div>
    </div>
  </div>
</div>
