<div class="flex h-screen bg-secondary-100">
    <div class="w-64 bg-white p-6">
      <h1 class="text-2xl font-semibold text-primary mb-6">
        <i class="fas fa-graduation-cap mr-3 text-primary"></i>
        Laabit academy</h1>
      <ul class="space-y-4">
        <li>
          <a href="#learn" class="flex items-center text-gray-700 hover:text-gray-900 hover:bg-gray-100 p-2 rounded">
            <i class="fa-solid fa-house mr-3"></i><!--LOGO-->
            Learn
          </a>
        </li>
        <li>
          <a href="#practice" class="flex items-center text-gray-700 hover:text-gray-900 hover:bg-gray-100 p-2 rounded">
            <i class="fas fa-pencil-alt mr-3"></i><!--LOGO-->
            Practice
          </a>
        </li>
        <li>
          <a href="#leaderboards" class="flex items-center text-gray-700 hover:text-gray-900 hover:bg-gray-100 p-2 rounded">
            <i class="fas fa-trophy mr-3"></i><!--LOGO-->
            Leaderboards
          </a>
        </li>
        <li>
          <a href="#quests" class="flex items-center text-gray-700 hover:text-gray-900 hover:bg-gray-100 p-2 rounded">
            <i class="fas fa-tasks mr-3"></i><!--LOGO-->
            Quests
          </a>
        </li>
        <li>
          <a href="#profile" class="flex items-center text-gray-700 hover:text-gray-900 hover:bg-gray-100 p-2 rounded">
            <i class="fas fa-user mr-3"></i><!--LOGO-->
            Profile
          </a>
        </li>
        <li>
          <a href="#profile" class="flex items-center text-gray-700 hover:text-gray-900 hover:bg-gray-100 p-2 rounded">
            <i class="fa-solid fa-circle-info mr-3"></i><!--LOGO-->
            More
          </a>
        </li>
      </ul>
    </div>
   
  </div>