<div class="text-center mt-16 font-lato">
    <h1 class="text-4xl font-black text-primary-900">Oops! Page Not Found</h1>
    <p class="text-lg font-semibold mt-4 text-gray-400">The page you are looking for might be in another place.</p>
    <img src="../../../assets/404.svg" alt="Spaceship Lost in Space" class="mx-auto mt-8 max-w-96 h-auto">
    <p class="text-lg text-gray-600 mt-8">Let's get you back on track:</p>
    <div class="mt-4">
      <a (click)="backToHome()" class="cursor-pointer px-8 py-3 bg-primary-700 font-bold text-gray-200 border-2 border-primary-900 hover:text-primary-900 hover:bg-transparent transition duration-700 rounded-2xl ">Back to Homepage</a>
    </div>
  </div>
  