<p class="mx-3 my-4">home works!</p>
<div class="flex gap-3 flex-col w-32 mt-4 mx-3">
    <a (click)="navigateToDashboard()" class="cursor-pointer border-2 border-accent-300 bg-accent-200 px-3 py-2 rounded-xl font-bold hover:bg-accent-300 hover:text-secondary-100 transition duration-700 ease-in-out">Dashboad</a>
    <a (click)="navigateToAuth()" class="cursor-pointer border-2 border-accent-300 bg-accent-200 px-3 py-2 rounded-xl font-bold hover:bg-accent-300 hover:text-secondary-100 transition duration-700 ease-in-out">Auth</a>
</div>
