<div class="grid grid-cols-12 grid-rows-[4em,calc(100vh-5em)] h-screen relative">


    <button class="z-30 w-4 h-4 absolute left-1 top-7 cursor-pointer md:hidden text-primary-900" (click)="isSideActive = !isSideActive">
        <i class="fa-solid fa-bars absolute left-0 top-1"
        [ngClass]="{'hidden': isSideActive, 'block': !isSideActive}"
        ></i>
        <i class="fa-solid fa-x absolute -top-[.5px] left-0"
        [ngClass]="{'block': isSideActive, 'hidden': !isSideActive}"
        ></i>
    </button>
    <app-side-bar class="absolute z-20 md:static md:block col-span-2 transition duration-300 ease-in-out"
        [ngClass]="{'-translate-x-0': isSideActive, '-translate-x-[100%] md:translate-x-0': !isSideActive}"
    ></app-side-bar>

    <app-header class="md:col-start-3 col-span-full"></app-header>

    <div class="overflow-y-auto md:col-start-3 col-span-full row-start-2 row-span-full bg-white rounded-xl mr-2">
        <router-outlet></router-outlet>
    </div>
</div>
