<div class="w-full  bg-white rounded-lg shadow-md overflow-hidden">
  <div class="bg-gradient-to-tr from-primary-900 to-secondary-200  text-white px-6 py-4">
    <h2 class="text-lg font-semibold">Younes Zouani</h2>
  </div>
  <div class="flex flex-col md:flex-row md:space-x-5 text-sm md:items-center px-6 py-4">
    <div class="flex-1 mb-4 md:mb-0">
      <p class="text-gray-700 font-semibold md:text-lg">Email:</p>
      <p class="text-gray-600 font-semibold text-sm md:text-md">youneszouani&#64;gmail.com</p>
    </div>
    <div class="flex-1 mb-4 md:mb-0">
      <p class="text-gray-700 font-semibold md:text-lg">Group:</p>
      <p class="text-gray-600 font-semibold text-sm md:text-md">Group 1</p>
    </div>
    <div class="flex-1">
      <p class="text-gray-700 font-semibold md:text-lg">Username:</p>
      <p class="text-gray-600 font-semibold text-sm md:text-md">Younes.Zouani</p>
    </div>
  </div>
</div>