<div class="w-full relative h-full flex justify-between items-center md:pr-12  px-2 md:px-6 z-10 ">

    <div class="flex items-center gap-2 ml-6 md:mr-0">
      <h2 class="text-sm lg:text-2xl font-bold text-gray-700"><span class="text-white">Learn quickly</span>, remember for lifetime
      </h2>
    </div>
    <div class="flex items-center justify-center gap-3">
      <p class="font-semibold font-lato text-sm md:text-md text-gray-600">Abou baker</p>
      <div class="md:w-14 md:h-14 size-6 rounded-full border-2 border-accent-300">
          <img src="../../../assets/profile_img.jpeg" alt="profile" class="w-full h-full rounded-full object-fill">
      </div>
    </div>
  </div>