<div class="flex h-screen items-center justify-center gap-4 px-4 bg-gray-300/10">

    <div class="p-4">
        <div>
            <h1 class="mb-2 text-4xl font-bold text-primary-900 leading-relaxed">Customize Your Schedule: <br> Select
                Available Days and
                Times</h1>
            <p>Select your available days and times to streamline your teaching schedule. Your choices optimize your
                availability.</p>
        </div>
        <img class="w-[40em]" src="assets/register.svg" alt="img">
    </div>

    <form class="w-1/2 h-1/2 p-2">
        <div>
            <p class="block mb-2  font-medium text-gray-900 text-start">
                <i class="fa-solid fa-calendar-days text-accent-300"></i>
                Days of the Week
            </p>
            <div class="grid grid-cols-2  gap-2">
                @for (day of days; track $index) {
                <div class="flex items-center ml-4 col-span-1">
                    <input [id]="day.code" type="checkbox" name="day-of-week" [value]="day.code"
                        (change)="toggleAvailability($event, day.label)"
                        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                    <label [for]="day.code" class="ml-2 text-sm font-medium text-gray-900">{{ day.label}}</label>
                </div>
                }

            </div>
        </div>
        <div class="space-y-2  overflow-auto h-3/4">
            @for (day of selectedDays; track $index) {
            <div>
                <p class="block mb-2 text-sm font-medium text-gray-900 text-start">Available Time for {{ day }}</p>
                <div class="flex items-center">
                    <div class="flex items-center">
                        <label for="start-time-{{day}}" class="text-sm font-medium text-gray-900">
                            Start Time:</label>
                        <input type="time" id="start-time-{{day}}" name="start-time-{{day}}"
                            class="border-2 border-gray-300 rounded-xl ml-2 p-1.5">
                    </div>
                    <div class="flex items-center ml-4">
                        <label for="end-time-{{day}}" class="text-sm font-medium text-gray-900">End
                            Time:</label>
                        <input type="time" id="end-time-{{day}}" name="end-time-{{day}}"
                            class="border-2 border-gray-300 rounded-xl ml-2 p-1.5">
                    </div>
                </div>
            </div>
            }
        </div>
        <button type="button" (click)="save()"
            class="text-white text-sm md:text-lg bg-primary-900 font-bold  px-6 py-2 m-5 rounded-2xl border-2 border-primary-700 border-solid outline-none tracking-wider uppercase cursor-pointer  transform active:scale-90  hover:bg-transparent hover:text-primary-900  transition duration-300 ease-in">Get
            Start</button>
    </form>

</div>