
<div class="mt-6 w-[40em] font-lato ">
  <div class="bg-secondary-200 p-6 rounded-2xl shadow-md mb-6 border-2 border-primary">
    <div class="flex items-center justify-between mb-4">
      <h2 class="text-xl font-bold ml-auto">Younes Zouani</h2>
    </div>
    <div class="flex flex-col ">
      <div class="flex space-x-5 text-lg ">
        <span class="text-gray-600 font-semibold">Email :</span>
        <span class="text-black font-semibold">youneszouani&#64;gmail.com</span>
        <span class=" text-gray-600 font-semibold ">User Name :</span>
        <span class=" text-black font-semibold">Younes.Zouani</span>
      </div>
      <div class="flex gap-x-12 mt-3 ">
        <div class="mb-4">
          <h1 class="text-gray-600 text-lg font-bold">Groups :</h1>
          <p class="ml-2 font-semibold ">Group 1: 6 Students</p>
          <p class="ml-2 font-semibold ">Group 2: 5 Students</p>
          <p class="ml-2 font-semibold ">Group 3: 4 Students</p>
        </div>
        <div class="mb-4">
          <h1 class="text-gray-600 font-bold ">Available days :</h1>
          <p class="ml-2 font-semibold ">Monday</p>
          <p class="ml-2 font-semibold ">Tuesday</p>
          <p class="ml-2 font-semibold ">Friday</p>
        </div>
        <div class="mb-4">
          <h1 class="text-gray-600 font-bold text-lg">Paths :</h1>
          <p class="ml-2 font-semibold">Beginner</p>
          <p class="ml-2 font-semibold">Intermediate</p>
        </div>
      </div>
    </div>
  </div>
</div>
