<div class="w-full font-lato ">
  <div>
    <div class="flex items-center justify-between mb-4 md:items-center md:justify-between">
      <h2 class="text-xl font-bold ml-auto  lg:text-lg md:text-base">Younes Zouani</h2>
    </div>
    <dv class="flex flex-col ">
      <div class="flex space-x-5 text-sm items-center">
        <p class="space-x-2 flex items-center ">
          <span class="text-gray-700 font-semibold text-lg lg:text-lg md:text-sm">Email :</span>
          <span class="text-gray-600 font-semibold lg:text-sm md:text-xs ">youneszouani&#64;gmail.com</span>
        </p>
        <p class="space-x-2 flex items-center">
          <span class="text-gray-700 font-semibold text-lg lg:text-sm md:text-xs">username :</span>
          <span class="text-gray-600 font-semibold lg:text-sm md:text-xs">Younes.Zouani</span>
        </p>
      </div>
      <div class="md:block sm:flex">
      <div class="flex gap-x-12 mt-3 ">
        <div class="mb-">
          <h1 class="text-gray-700 text-lg font-bold ">Available days :</h1>
          <p class="text-sm text-gray-500">Monday</p>
          <p class="text-sm text-gray-500">Tuesday</p>
          <p class="text-sm text-gray-500">Friday</p>
        </div>
        <div class="mb-4">
          <h1 class="text-gray-700 text-lg font-bold">Paths :</h1>
          <p class="text-sm text-gray-500">Beginner</p>
          <p class="text-sm text-gray-500">Intermediate</p>
        </div>
        <div class="mb-4">
          <h1 class="text-gray-700 text-lg font-bold">Groups:</h1>
          <p class="text-sm text-gray-500">
            <span class="font-semibold">Group 1:</span> 6 Students
          </p>
          <p class="text-sm text-gray-500">
            <span class="font-semibold">Group 2:</span> 5 Students
          </p>
          <p class="text-sm text-gray-500">
            <span class="font-semibold">Group 3:</span> 4 Students
          </p>
        </div>
      </div>
      </div>
    </dv>
  </div>
</div>
