<!-- Container -->
<div class="flex">
  <div class="flex flex-col">
    <div
      class="w-[70vh] font-lato bg-accent-200 border-2 border-accent-300 items-start justify-between p-4 shadow-md rounded-md">
      <!-- Content -->
      <h2 class="text-lg mb-4">Title</h2>
      <p class="text-gray-500 mb-2">Description</p>
    </div>
    <!-- Buttons -->
    <div class="flex w-full">
      <button class="m-2 mt-4 px-4 py-2 bg-primary-800 border-2 border-primary-900 text-white rounded-md hover:bg-transparent hover:text-black font-lato transition duration-400">Let's Start</button>
      <button class="m-2 mt-4 px-4 py-2 bg-secondary-300 text-primary rounded-md border-2 hover:bg-transparent border-primary-900  font-lato transition duration-400">
        Next Unit
      </button>
    </div>

    <!-- Photo -->
    <div class="mb-2 w-96 h-96  self-end">
      <img src="assets/img-page1.png" alt="dash picture object-fill">
    </div>
  </div>

  <!-- Profile Picture -->
  <div class="flex items-center absolute top-0 right-10 mt-5 mr-4">
    <h3 class="mr-2">Username</h3>
    <img src="assets/favicon.ico" alt="profile picture">
  </div>

  <div class="flex flex-col gap-10 mt-12 absolute right-10">
    <div>
      <div
        class="w-80 h-[20vh] font-lato bg-secondary-200  border-2 border-primary-900 p-4 shadow-md rounded-md">
        <!-- Content -->
        <h2 class="text-lg mb-4 text-end">
          <i class="fa-solid fa-gem text-accent-300"></i>
          Progress</h2>
        <p class="text-gray-800 mb-2 font-bold text-lg text-center">Path: Begginner</p>
        <div class="flex items-center justify-between text-sm text-gray-500 mt-3">
          <span>30%</span>
          <span>cours: 3/15</span>
          <span>section: 2/6</span>
        </div>
      </div>
    </div>

    <div>
      <div
        class="w-80 h-[20vh] font-lato bg-third-200  border-2 border-third-100 items-start justify-between p-4 shadow-md rounded-md">
        <!-- Content -->
        <h2 class="text-lg mb-4">Title</h2>
        <p class="text-gray-500 mb-2">Description</p>
      </div>
    </div>

  </div>
</div>
