<!-- Container -->
<div class="flex">
  <div class="flex flex-1 flex-col justify-center items-center md:justify-start md:items-start">
    <div
      class="w-[18em] md:w-[20em] lg:w-[28em] font-lato bg-accent-200 border-2 border-accent-300 items-start justify-between p-4 shadow-md rounded-md">

      <!-- Content -->
      <h2 class="text-lg mb-4 text-end">Course: 3</h2>
      <h2 class="text-lg font-bold mb-4 text-center">Course Title</h2>
      <div class="flex items-center justify-around text-sm text-gray-500 mt-3">
        <span>Progress: 0%</span>
        <span>section: 4/6</span>
      </div>
    </div>
    <!-- Buttons -->
    <div class="flex ">
      <button
        class="m-2 mt-4 px-4 py-2 bg-primary-800 border-2 border-primary-900 text-white rounded-md hover:bg-transparent hover:text-black font-lato transition-color duration-500">
        Let's Start
      </button>
      <button
        class="m-2 mt-4 px-4 py-2 bg-secondary-200 text-primary rounded-md border-2 hover:bg-transparent border-primary-900  font-lato transition-color duration-500">
        Next Unit
      </button>
    </div>

    <div>
      <p>
        Description
      </p>
    </div>
    <!-- Photo -->
    <div class="mb-2 w-96 h-96  mx-auto">
      <img src="assets/img-page1.png" alt="dash picture object-fill">
    </div>
  </div>

<!--  Cards-->
  <div class=" flex-col gap-10 mt-12 ml-auto hidden md:flex  ">
    <div >

      <div
        class=" lg:w-80 md:w-60 h-[11em] font-lato bg-secondary-200  border-2 border-primary-900 p-4 shadow-md rounded-md">

        <!-- Content -->
        <h2 class="text-lg mb-4 text-end">
          <i class="fa-solid fa-gem text-accent-300"></i>
          Progress</h2>
        <p class="text-gray-800 mb-2 font-bold text-lg text-center">Path: Beginner</p>
        <div class="flex items-center justify-between text-sm text-gray-500 mt-3">
          <span>30%</span>
          <span>course: 3/15</span>
          <span>section: 2/6</span>
        </div>
      </div>
    </div>

    <div class="">
      <div
        class="lg:w-80 h-[11em] md:w-60 font-lato bg-third-200  border-2 border-third-100 items-start justify-between p-4 shadow-md rounded-md">
        <!-- Content -->
        <h2 class="text-lg mb-4 text-end">Next Course</h2>
        <h2 class="text-lg mb-4 text-center font-bold">Next Course: Title</h2>
        <p>Description....</p>
        <div class="flex justify-end text-sm text-gray-500 mt-3">
          <span>section: 2/6</span>
        </div>
      </div>
    </div>

  </div>
</div>
