<!-- Container -->
<div class="flex flex-row">
  <div class="flex flex-col">
    <div
      class="w-[70vh]  font-lato bg-accent-200 border-2 border-accent-300 items-start justify-between p-4 shadow-md rounded-md">
      <!-- Content -->
      <h2 class="text-lg mb-4">Title</h2>
      <p class="text-gray-500 mb-2">Description</p>
    </div>
    <!-- Buttons -->
    <div class="flex w-full">
      <button class="m-4 px-4 py-2 bg-primary text-white rounded-md hover:scale-105">Let's Start</button>
      <button class="m-4 px-4 py-2 bg-secondary-100 text-primary rounded-md border-2 border-primary hover:scale-105">
        Next Unit
      </button>
    </div>

    <!-- Photo -->
    <div class="mb-4">
      <img src="assets/img-page1.png" alt="dash picture">
    </div>
  </div>

  <!-- Profile Picture -->
  <div class="flex items-center absolute top-0 right-10 mt-5 mr-4">
    <h3 class="mr-2">Username</h3>
    <img src="assets/favicon.ico" alt="profile picture">
  </div>

  <div class="flex flex-col gap-10 mt-12 absolute right-10">
    <div>
      <div
        class="w-[40vh] h-[20vh] font-lato bg-secondary-200  border-2 border-primary items-start justify-between p-4 shadow-md rounded-md">
        <!-- Content -->
        <h2 class="text-lg mb-4">Title</h2>
        <p class="text-gray-500 mb-2">Description</p>
      </div>
    </div>

    <div>
      <div
        class="w-[40vh] h-[20vh] font-lato bg-third-200  border-2 border-third-100 items-start justify-between p-4 shadow-md rounded-md">
        <!-- Content -->
        <h2 class="text-lg mb-4">Title</h2>
        <p class="text-gray-500 mb-2">Description</p>
      </div>
    </div>

  </div>
</div>
