<div class="flex flex-col  space-y-4 justify-center pt-5 ">
  <!-- Bouton Beginner -->
  <button class="bg-secondary-300  border border-2 border-primary-900 hover:bg-primary-700 text-white text-xl font-bold py-2 px-4 rounded-lg focus:outline-none focus:shadow-outline">
    Beginner<br>
    <span class="text-sm text-black">(10 Cours , 8 Sections)</span>
  </button>

  <!-- Bouton Intermediate -->
  <button class="bg-secondary-300 border border-2 border-primary-900 hover:bg-primary-700 text-white text-xl font-bold py-2 px-4 rounded-lg focus:outline-none focus:shadow-outline">
    Intermediate<br>
    <span class="text-sm text-black">(12 Cours , 5 Sections)</span>
  </button>

  <!-- Bouton Advanced -->
  <button class="bg-secondary-300  border border-2 border-primary-900 hover:bg-primary-700 text-white text-xl font-bold py-2 px-4 rounded-lg focus:outline-none focus:shadow-outline">
    Advanced<br>
    <span class="text-sm text-black">(15 Cours , 6 Sections)</span>
  </button>
</div>



