
<div class="container" id="main" [ngClass]="{'right-panel-active': mainPanelActive}">
  <div class="sign-up">
    <form action="#">
      <h1 class="">Create Account</h1>
      <div class="social-container bg-[]">
        <a href="#" class="social"><i class="fa-brands fa-facebook"></i></a>
        <a href="#" class="social"><i class="fa-brands fa-google"></i></a>
        <a href="#" class="social"><i class="fa-brands fa-linkedin"></i></a>
      </div>
      <p>Or use your Email for registration</p>
      <input type="text" name="txt" placeholder="Name" required="">
      <input type="email" name="email" placeholder="Email" required="">
      <input type="password" name="pswd" placeholder="Password" required="">
      <button>Sign Up</button>
    </form>
  </div>

  <div class="sign-in">
    <form action="#">
      <h1>Sign in to Laabit Academy</h1>
      <div class="social-container">
        <a href="#" class="social"><i class="fa-brands fa-facebook"></i></a>
        <a href="#" class="social"><i class="fa-brands fa-google"></i></a>
        <a href="#" class="social"><i class="fa-brands fa-linkedin"></i></a>
      </div>
      <p>Or use your Account</p>
      <input type="email" name="email" placeholder="Email" required="">
      <input type="password" name="pswd" placeholder="Password" required="">
      <a href="">Forgot your Password?</a>
      <button>Login</button>
    </form>
  </div>

  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-left">
        <h2>Welcome Back!</h2>
        <p>To keep connected with us please login with your personal info</p>
        <button id="signIn" (click)="onSignInClick()"> Sign In</button>
      </div>

      <div class="overlay-right">
        <h2>Hello,Friend! </h2>
        <p>Enter your personal details and start journey with us</p>
        <button id="signUp" (click)="onSignUpClick()"> Sign Up</button>
      </div>

    </div>

  </div>





</div>




